/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.App {
  text-align: center;
}

h1, h2, h3 {
  color: #333;
}

nav {
  background: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Header styles */
.App-header {
  background-color: #282c34;
  padding: 20px;
}

.logo {
  height: 40px;
}

/* Home styles */
.home {
  padding: 20px;
}

/* Product List styles */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product {
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.product:hover {
  transform: scale(1.05);
}

.product-image {
  max-width: 100%;
  height: auto;
}

/* Search input styles */
input[type="text"] {
  padding: 10px;
  margin: 20px 0;
  width: 80%;
  max-width: 400px;
}

/* Cart styles */
.cart {
  padding: 20px;
}

/* Profile styles */
.profile {
  padding: 20px;
}

.profile img {
  border-radius: 50%; /* Makes the image circular */
  width: 100px; /* Set width */
  height: 100px; /* Set height */
  object-fit: cover; /* Ensures the image covers the circle */
  margin-bottom: 20px;
}

/* File input styles */
input[type="file"] {
  margin-top: 10px;
}

/* Footer styles */
footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Responsive styles */
@media (max-width: 600px) {
  nav ul li {
      display: block;
      margin: 10px 0;
  }

  .product-grid {
      grid-template-columns: 1fr;
  }
}